body {
  background:  black;
  font: calc(10px + 2vmin) "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 0vw;
  overflow: hidden;
  /* align-content: center;
  align-items: center; */
}

a {
  color: white;
}

.jumbotron{
    background-color:black;
    overflow-y: scroll;
    position: fixed;
    height: 90vh;
    left: 20vw;
    width: 80vw;
    margin-right: 20vw;
    /* overflow-y: scroll; */
}
.sidebar{
  padding-top: 5vw;
  background-color: rgb(34, 33, 33);
  overflow: hidden;
  width: 20vw;
  height: 100vh;
	position: absolute; 
	left: 0;
	scroll-behavior: smooth;
  color: white;
}
.profile{
  margin: 1vw;
  border: 2px solid whitesmoke;
  padding: 10px;
  border-radius: 10px;
}
.Profile-pic {
  height: 10vw;
  pointer-events: none;
}

#scores {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#scores td, #scores th {
  border: 1px solid #ddd;
  padding: 8px;
}

#scores tr:nth-child(even){background-color: #f2f2f2;}

#scores tr:hover {background-color: #ddd;}

#scores th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: black;
  color: white;
}
@media only screen and (max-width: 760px) {
  .sidebar {
    display: none;
  }
  .jumbotron{
    width: 90vw;
    left: 0vw;
    margin: 5vw;
  }
}